[Unit]
Description=TestHub Client (%i)
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=simple
User=thub
Group=thub
Environment=THUB_CLIENT_CONFIG=/etc/thub/%i.json
ExecStart=/usr/bin/node /usr/lib/node_modules/@andrian.yablonskyy/thub-client/src/daemon.js
Restart=always
RestartSec=2
NoNewPrivileges=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/thub /run/thub
RuntimeDirectory=thub

[Install]
WantedBy=multi-user.target
